// Settings (Pretty much vars)

// Global Color Variables
$darkIndigo: #121627;
$darkBlue: #1f2833;
$green: #3bba9c;
$lilac: #707793;
$darkLilac: #3c3f58;

// Font Colors
$headerNav: #3bba9c;
$bodyFont: #ab9fb8;

// Typography
$regularFont: 'Roboto', sans-serif;
$boldFont: 'Alatsi', sans-serif;

/*
Font's from Adobe (linked in styles.scss) 
DIN 2014 Regular
----------------------------------------
font-family: din-2014, sans-serif;

font-weight: 400;

font-style: normal;
----------------------------------------
DIN 2014 Bold

font-family: din-2014, sans-serif;

font-weight: 700;

font-style: normal;
*/

// Source: https://www.hobo-web.co.uk/best-screen-size/
// Screen Sizes
$mobile: 360px;
$tablet: 768px;
$desktop: 1366px;

// Layout
$section-padding: em(16) em(20);