// Footer

/*
footer {
    padding: $section-padding;
    background-color: $darkBlue;
    p {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        color: $light;
    }
}

*/

footer {
    text-align: center;
}

footer p {
    font-size: 0.9em;
}

// Desktop Version
@media only screen and (min-width: $tablet) {
    // About Page - Desktop Version

    // Favourites Page - Desktop Version

    // Footer Page - Desktop Version

    // Header - Desktop Version

    // Home Page - Desktop Version

    // Single Movie Page - Desktop Version
}

// Tablet Version
@media only screen and (min-width: $mobile) {
    // About Page - Tablet Version

    // Favourites Page - Tablet Version

    // Footer Page - Tablet Version

    // Header - Tablet Version

    // Home Page - Tablet Version

    // Single Movie Page - Tablet Version
}
