// Footer

/*
footer {
    padding: $section-padding;
    background-color: $darkBlue;
    p {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        color: $light;
    }
}

*/

footer {
    text-align: center;
    bottom: 0px;
    margin-left: 200px;

    p {
        font-size: 0.9em;
    }

    .social img {
        width: 50px;
        padding: 10px;
    }
}