// Footer

/*
footer {
    padding: $section-padding;
    background-color: $darkBlue;
    p {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        color: $light;
    }
}

*/

footer {
    text-align: center;
}

footer p {
    font-size: 0.9em;
}
