// Header Stylization 

header {
    background-color: $darkLilac;
    display: flex;
    height: 150px;
    
    h1 {
        @include flatten;    
    }
    
    a {
        text-decoration: uppercase;
        color: $green;
    }

    .header-row-01 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: em(16);
    }

    .search-bar {
        background-color: $lilac;
        height: 25px;
        width: 200px;
    }


    .btn-main-nav {
        display: none;
    }

    .header-row-nav {
        //display: none;
    }

    @include mq(em(600)){
        .header-row-01 {
            padding: em(20);
        }
    }

}
