// Header Stylization
header {
    // General Header Styling 
    background-color: $darkLilac;
    height: 140px;
    //width: 100px;
   

    a {
        text-transform: uppercase;
        color: $green;
    }

    // ==============================================================================================
    // Top Portion of Header
    .header-row-01 {
        display: flex;

        // Header Logo 
        .header-logo {
            width: 180px;
            margin-top: 24px;
            margin-left: 20px;
            margin-bottom: 0px;
        }
        // Search Bar
        .search-bar {
            background-color: $lilac;
            border-radius: 25px;
            height: 25px;
            width: 150px;
            margin-left: 25px;
            margin-top: 35px;
        }
        // Search Bar Icon
        .search-bar-icon {
            width: 52px;
            height: 52px;
            margin-left: 0px;
            margin-top: 27px;
        }
    }


    // ==============================================================================================
    // Top Portion of Header (Styling for Form Select)
    .header-form-select {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }

    // Popular Form------------------------------
    // (ACTIVE STATE)
    .form-popular {
        background-color: $green;
        color: $darkIndigo;
        border-radius: 25px;
        width: 75px;
        height: 30px;
        text-align: center;
        padding-top: 3px;
    }
    .form-popular a {
        color: $darkIndigo;
        //text-decoration: none;
        font-family: $boldFont;
        font-size: 0.59em;
        font-weight: 700;
    }
    
    // Top Rated Form-----------------------------
    // (NON-ACTIVE STATE)
    .form-top-rated {
        border-style: solid;
        border-color: $green;
        border-width: 3px;
        border-radius: 25px;
        width: 75px;
        height: 30px;
        text-align: center;
    }
    .form-top-rated a {
        color: $green;
        font-family: $boldFont;
        font-size: 0.59em;
        font-weight: 700;
    }

    // Upcoming Form------------------------------
    // (NON-ACTIVE STATE)
    .form-upcoming {
        border-style: solid;
        border-color: $green;
        border-width: 3px;
        border-radius: 25px;
        width: 75px;
        height: 30px;
        text-align: center;
    }
    .form-upcoming a {
        color: $green;
        text-decoration: none;
        font-family: $boldFont;
        font-size: 0.59em;
        font-weight: 700;
    }

    // Now Playing Form----------------------------
    // (NON-ACTIVE STATE)
    .form-now-playing {
        border-style: solid;
        border-color: $green;
        border-width: 3px;
        border-radius: 25px;
        width: 75px;
        height: 30px;
        text-align: center;
    }
    .form-now-playing a {
        color: $green;
        text-decoration: none;
        font-family: $boldFont;
        font-size: 0.55em;
        font-weight: 700;
    }

    @media (min-width: 450px) {
        // Popular Form------------------------------
        // (ACTIVE STATE)
        .form-popular {
            width: 90px;
        }
        // Top Rated Form-----------------------------
        // (NON-ACTIVE STATE)
        .form-top-rated {
            width: 90px;
        }
        // Upcoming Form------------------------------
        // (NON-ACTIVE STATE)
        .form-upcoming {
            width: 90px;
        }
        // Now Playing Form----------------------------
        // (NON-ACTIVE STATE)
        .form-now-playing {
            width: 90px;
        }
        
    }

    @media (min-width: 500px) {
        .header-form-select {
            margin-right: 20px;
            margin-left: 20px;
        }
        // Popular Form------------------------------
        // (ACTIVE STATE)
        .form-popular {
            width: 100px;
        }
        // Top Rated Form-----------------------------
        // (NON-ACTIVE STATE)
        .form-top-rated {
            width: 100px;
        }
        // Upcoming Form------------------------------
        // (NON-ACTIVE STATE)
        .form-upcoming {
            width: 100px;
        }
        // Now Playing Form----------------------------
        // (NON-ACTIVE STATE)
        .form-now-playing {
            width: 100px;
        }
    }

    @media (min-width: 600px) {
        .header-form-select {
            margin-right: 28px;
            margin-left: 28px;
        }
        // Popular Form------------------------------
        // (ACTIVE STATE)
        .form-popular {
            width: 120px;
        }
        // Top Rated Form-----------------------------
        // (NON-ACTIVE STATE)
        .form-top-rated {
            width: 120px;
        }
        // Upcoming Form------------------------------
        // (NON-ACTIVE STATE)
        .form-upcoming {
            width: 120px;
        }
        // Now Playing Form----------------------------
        // (NON-ACTIVE STATE)
        .form-now-playing {
            width: 120px;
        }
    }

    @media (min-width: 700px) {
        .header-form-select {
            margin-right: 40px;
            margin-left: 40px;
        }
    }

}