// Main

main {
    padding: $section-padding;
    font-family: $regularFont;
}

// ===========================================================================
// About Page

.about-main {
    padding: 5px 25px 100px 25px;
}
.about-main p {
    text-align: center;
    color: $lilac;
}
.about-main p:nth-child(4) {
    color: $green;
    font-style: italic;
    padding-top: 250px;
}
.about-main h2 {
    text-align: center;
    padding: 20px 0px 40px 0px;
}

// ===========================================================================
// Single Movie Page

.title-desc {
    grid-area: title-desc;
}
.poster {
    grid-area: poster;
    padding-top: 25px;
}
.poster p {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: $green;
    vertical-align: baseline;
    background-color: $darkLilac;
    padding: 10px 20px 10px 20px;
}
.rating {
    grid-area: rating;
}
.fave {
    grid-area: fave;
    display: none;
}
.overview {
    grid-area: overview;
}
.media {
    grid-area: media;
    display: none;
}
.related {
    grid-area: related;
    display: none;
}
.tab-info {
    grid-area: tab-info;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "poster"
        "title-desc"
        "rating"
        "overview"
        "tab-info";
}

.singlemovie-main {
    padding: 20px 50px 50px 50px;
}
.singlemovie-main div h2 {
    font-size: 1.75em;
    padding: 0px 0px 0px 0px;
}
.singlemovie-main div h3 {
    font-size: 1.5em;
    font-weight: 400;
    padding: 15px 0px 15px 0px;
}
.singlemovie-rating {
    color: $green;
    text-transform: uppercase;
}
.singlemovie-main span {
    color: $bodyFont;
    font-size: 0.8em;
    padding: 10px 5px 10px 5px;
    margin: 35px;
    border: 3px solid $green;
}
.singlemovie-main div p {
    font-size: 1em;
    line-height: 1.75;
}
.play_icon,
.favourite_icon {
    height: 15px;
    width: 15px;
    vertical-align: baseline;
    margin-right: 10px;
}
// removes link in mobile mode
.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

// ===========================================================================
// Desktop Version
@media only screen and (min-width: $tablet) {
    /*     main {
        margin: 1% 15% 0px 30%;
    } */
    p {
        font-size: 1.6em;
    }
    h2 {
        font-size: 2.5em;
    }

    // =======================================================================
    // About Page - Desktop Version
    .about-main p:nth-child(5) {
        padding-top: 150px;
    }

    // =======================================================================
    // Favourites Page - Desktop Version

    // =======================================================================
    // Home Page - Desktop Version

    // =======================================================================
    // Single Movie Page - Desktop Version
    .grid-container {
        display: grid;
        grid-template-areas:
            "poster     poster      poster      title-desc  title-desc  title-desc"
            "poster     poster      poster      rating      fave        fave"
            "poster     poster      poster      overview    media       related"
            "poster     poster      poster     tab-info    tab-info    tab-info";

        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;
    }
    .grid-container > div {
        text-align: left;
    }
    .grid-container h2,
    .grid-container h3 {
        padding: 0px;
        margin: 0px;
    }
    .poster {
        height: 100%;
        width: 350px;
        padding-top: 0px;
        font-size: 1.3em;
        margin-right: 50px;
        align-self: center;
        justify-self: center;
    }
    .overview,
    .media,
    .related,
    .tab-info {
        display: grid;
        padding: 0px;
        margin: 0px;
    }
    .rating p {
        color: $green;
        font-size: 1.4em;
        text-transform: uppercase;
    }
    .fave {
        display: grid;
    }
    .fave p {
        color: $green;
        font-size: 1.2em;
        text-transform: uppercase;
    }
    .singlemovie-main div h2 {
        font-size: 2.3em;
    }
    .singlemovie-rating {
        text-transform: none;
        color: $bodyFont;
    }
    .singlemovie-rating p {
        color: $green;
    }
    .not-active {
        pointer-events: auto;
        cursor: pointer;
    }
}

// ===========================================================================
// Tablet Version
@media only screen and (min-width: $mobile) {
    // =======================================================================
    // Favourites Page - Tablet Version

    // =======================================================================
    // Home Page - Tablet Version
}
