// Main

main {
    padding: $section-padding;
}
p {
    color: $lilac;
    line-height: 2.2;
}

h2, h3, h4, h5, h6 {
    font-family: $regularFont;
    color: $green;
    text-transform: uppercase;
}
h2 {
    font-size: 2em;
}

// Go Back Link

.go-back {
    color: $green;
    text-transform: uppercase;
    text-decoration: none;
}
.go-back:active,
.go-back:hover {
    color: $green;
    text-transform: uppercase;
}

// About Page

.about-main {
    padding: 5px 25px 100px 25px;
    font-family: $regularFont;
}

.about-main p {
    text-align: center;
}
.about-main p:nth-child(5) {
    color: $green;
    font-style: italic;
    padding-top: 250px;
}
.about-main h2 {
    text-align: center;
    padding: 20px 0px 40px 0px;
}
